* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
}

/* 导航栏部分 */
.nav {
    height: 60px;
    background: #fff;
    padding:0 40px;
    position: relative;
}
.fixclear:hover{
content: "";
display: block;
clear: both;
font-size: 0;
visibility:hidden;
}
.left-box{
    float: left;
}
.log{
    width: 120px;
    height: 40px;
    background: url(https://res.devcloud.huaweicloud.com/obsdevui/diploma/8.1.12.003/logo.ee14f183979fd61abac2.svg);
    background-size: 100% 100%;
    float: left;
    margin:10px 40px 0 0;
 }
.nav-box{            
     float: left;
     height: 60px; 
}       
.nav-box ul li{
    font-size: 14px;
    float: left;
    margin-right: 40px;
    line-height: 60px; 
    text-align: center; 
   
}
.nav-box li a{
    color: black;
    cursor: pointer;
}

.nav-box li a.current,.nav-box li a:hover{
    color: #0000ee;
}

/* 导航栏有部分按钮 */
.right-box{
    display: flex;    
    position: absolute;
    height: 30px; 
    /* float: right;       */
    top:50%;
    right: 40px;
    bottom: 0;
    margin-top: -15px;

}
.right-box .butt{
    float: left;
    display: block;
    width: 100px;
    height: 30px;  
    margin-right: 50px;
    cursor: pointer;
}

.right-box a .button{
    /* float: left; */
    border-radius: 20px;
    border: 1px solid #c9c7c7;
    background:#fff ;
} 
.right-box a .button:hover{
    border:1px solid rgb(145, 145, 236);
}
.right-box a .button span{
    color: rgb(133, 130, 130);
    display: block;
    height: 30px;
    line-height: 30px;
    text-align:center;
}

.right-link{    
    float: right; 
}
.right-link .help{
    float: left;
    position: fixed;
    /* margin-right: 50px; */
    /* right: 150px; */
}

.right-link .help .help-s{
display: none;
margin-left:-40px;
width: 120px;
height: 130px;
background: rgb(245, 243, 243);
border: 1px solid #dddddf;
border-radius: 10px;
box-shadow: 2px 2px 5px rgb(197, 196, 196);
}
.right-link .help .help-s li{
    padding: 10px 10px 10px 10px;

}
.right-link .nav-help:hover .help-s{
    display: block;
}
.help .help-s a{
    color: rgb(43, 43, 42);
    padding-left: 10px;
    font-size: 14px;
}
.right-link .user-login{
    float: right;
}



/* .header { }
.content { }
.content .intro-box { }
.content .class-box { }
.content .market-box { }
.content .activity-box { }
.footer { } */